@using EntityLayer.Concreate
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2> Hakkımda Veri Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Hakkımda Başlığı</th>
        <th>Durumu Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutID</td>
            <td>Başlık</td>

            @{
                if (item.Status == true)
                {
                    <td><a href="/About/ChangeToFalse/@item.AboutID" class="btn btn-outline-warning">Pasif Yap</a></td>
                }
                else
                {
                    <td><a href="/About/ChangeToTrue/@item.AboutID" class="btn btn-outline-success">Aktif Yap</a></td>
                }
            }
        </tr>

    }
</table>

@Html.Action("AboutPartial", "About")