
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p1><del>#1 Profilim</del></p1>
<br />
<p1><del>#2 Tüm başlıklada paging</del></p1>
<br />
<p1><del>#3 MEsajlarda Session</del></p1>
<br />
<p1><del>#3 oturum yönetiminin mimariye taşınması</del> </p1>
<br />
<p1>#3 Token kullanımı </p1>
<br />


<h2>Admin yapılacaklar</h2>
<p1><del>#1 Başlıklara arama kutusu</del></p1>
<p1>Yazar GörselleriDüzenlenecek</p1>
<p1>Grafikler</p1>
<p1><del>Vitrin Teması</del></p1>
<p1>Gelen Kutusunda Arama--başlıklardakiyle aynı mantıkla yapabilirsin</p1> 
<p1>Yetkilendirme</p1>
<p1><del>hata Sayfası Layouttan Ayrılacak</del></p1>
<p1><del>Sözlük ve Vitrin Ayrılacak</del></p1>
<p1>Herhangibir tablo Raporlanacak</p1>
<p1>Proje Dosyaları sunucuya Taşınacak</p1>
<p1>Alan adı Alınacak</p1>
<p1>Proje Canlıya taşıanacak</p1>
<p1>Urlde ıd yerine isim gelsin</p1>
<p1><del>IFrameEkleme</del></p1>
<p1>Sweetalert</p1>
<p1>Admin Çıkış Yap</p1>
